
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

body {
    background-image: linear-gradient(to right, #434343 0%, black 100%);
    color: white;
}

.navcolor {
    background-image: linear-gradient(to right, #434343 0%, black 100%);
    color: white;
}

.titulo {
    color: black;
    font-family: 'Bebas Neue', cursive;
    font-size: 75pt;
}

.subtituloHeader{
    color: white ;
    font-family: 'Bebas Neue', cursive;
    font-size: 20pt;
}

.subtitulo {
    color: orange ;
    font-family: 'Bebas Neue', cursive;
    font-size: 25pt;
}

.entrarSair {
    color: black;
}

.faixaPrincipal {
    background-color: #dbab3c;
}


.card-img-top {
    border: 3px solid white;
    width: 280px;
    border-radius: 15px;
    -webkit-transition: all .2s ease-in;
}

.card-img-top:hover {
    -webkit-transform: scale(1.1);
}

.singleImagem {
    border: 3px solid white; 
    border-radius: 15px;
}

.card-title {
    font-size: 50pt;
}

.precoPromo{
    color: red;
    font-weight: bolder;
    font-size: large;
}









footer {
    background-color: #dbab3c;
    padding: 15px;
}