body {
    background-color: black;
    margin-left: 15%;
    margin-top: 2em;
    margin-right:15%;
    text-align: justify;
    font-family:Arial, Helvetica, sans-serif;
}
h1 {
    padding: 10px;
    color: brown;
    font: arial;
    text-align: center !important;
}
h2 {
    padding: 10px;
    color: grey;
    font-size: 18pt !important;
}
section {
    padding: 20px;
    border-radius: 15px;
    margin-top: 20px ;
}
div {
    text-decoration: none;
    text-align: center ;
    text;
}
footer {
    color: rgba(255, 0, 0, 0.592);
    padding: 25px;
    text-align: center;
    font-weight: bold;
}
