
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

body {
    background-image: linear-gradient(to right, #434343 0%, black 100%);
    color: white;
}

#produto{
    border: 1px solid rgba(255, 255, 255, 0.185);
    border-radius: 15px;
    box-shadow: 3px 3px 30px rgba(255, 255, 0, 0.438);

}
.produto{
    border: 1px solid rgba(255, 255, 255, 0.185);
    border-radius: 15px;
    box-shadow: 3px 3px 30px rgba(255, 255, 0, 0.438);

}

.navcolor {
    background-image: linear-gradient(to right, #434343 0%, black 100%);
    color: white;
}

.titulo {
    color: black;
    font-family: 'Bebas Neue', cursive;
    font-size: 75pt;
}

.subtituloHeader{
    color: white ;
    font-family: 'Bebas Neue', cursive;
    font-size: 20pt;
}

.subtitulo {
    color: orange ;
    font-family: 'Bebas Neue', cursive;
    font-size: 20pt;
    text-align: center;
}

.entrarSair {
    color: black;
}

.faixaPrincipal {
    background-color: #dbab3c;
}


.card-img-top {
    border: 3px solid white;
    width: 254px;
    border-radius: 15px;
    -webkit-transition: all .2s ease-in;
    align-items: center;
}

.card-img-top:hover {
    -webkit-transform: scale(1.1);
}

.singleImagem {
    border: 3px solid white; 
    border-radius: 15px;
}

.card-title {
    font-size: 50pt;
}

.precoPromo{
    color: rgb(255, 0, 0);
    font-weight: bolder;
    font-family: 'Bebas Neue', cursive;

}

.label-float textarea {
    width: 100%;
    padding: 6px 6px;
    display: inline-block;
    border: 1px solid #fff;
    background-color:#ffffff10;
    outline: none;
    font-size: 16px;
    color: #fff;
    transition: all .2s ease-out;
    border-radius: 0;  
}

.label-float textarea:focus {
    border: 1px solid #e4b954;
}

textarea::placeholder {
    color: #e4b95460;
  }

.label-float input {
    width: 100%;
    padding: 6px 6px;
    display: inline-block;
    border: 0;
    border-bottom: 1px solid #fff;
    background-color:#ffffff10;
    outline: none;
    min-width: 180px;
    font-size: 15px;
    color: #fff;
    transition: all .2s ease-out;
    border-radius: 0;
}

.label-float {
    position: relative;
    padding-top: 13px;
    margin-top: 5%;
    margin-bottom: 5%;
}

.label-float input:focus {
    border-bottom: 1px solid #e4b954;
}

.label-float label {
    color: #dbab3c;
    pointer-events: none;
    position: absolute;
    top: 0;
    left: 0;
    margin-top: 25px;
    transition: all .2s ease-in-out;
}

.label-float input:focus+label,
.label-float input:valid+label {
    font-size: 13px;
    margin-top: 0;
    color: #dbab3c;
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus,

textarea:-webkit-autofill,
textarea:-webkit-autofill:hover
textarea:-webkit-autofill:focus,

select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
    -webkit-text-fill-color: white !important;
    transition: background-color 5000s ease-in-out 0s;
}

.data:required:invalid::-webkit-datetime-edit{
	color: transparent;
}
.data:focus::-webkit-datetime-edit{
	color: white !important;
}

input[type="date"]::-webkit-calendar-picker-indicator {
    cursor: pointer;
    filter: invert(0.8) brightness(100%) sepia(0%) saturate(10000%) hue-rotate(240deg);
  }

.justify-center {
    display: flex;
    justify-content: center;
}

.fa-eye{
    position: absolute;
    top: 20px;
    right: 10px;
    cursor: pointer;
    color: #dbab3c ;
}

footer {
    background-color: #dbab3c;
    padding: 15px;
}

/* ==========  STYLE FAQ  ========== */

.prof {
    padding: 10px 28px; 
    background: rgb(15, 67, 209); 
    border-style: solid; 
    border-radius: 20px; 
    text-align: center;        
}

.profImg {
    border-radius: 50%; 
    width: 100px; 
    margin-top: -50px; 
    border-style: solid; 
    border-color: #fff;
}

.profLink {
    color: #fff;
    margin: 20px 0 10px;
}

.dev {
    padding: 10px 28px; 
    background: rgb(201, 153, 20); 
    border-style: solid; 
    border-radius: 20px; 
    text-align: center;
}

.imgDev {
    border-radius: 50%; 
    width: 100px; 
    margin-top: -50px; 
    border-style: solid; 
    border-color: #fff;
}

.linkDev {
    color: #fff;
    margin: 20px 0 10px;
}