<%- include('headerAdmin.ejs') %>
<%- include('navAdmin.ejs') %>

</header>
<!--FORMULÁRIO-->
<section class="container">
    <h1 class="text-center mt-5 mb-5"> Cadastro Um Novo Usuário</h1>
    <form id="formCadastro" method="post" action="" class="container w-50 p-3 mt-5 mb-5"
        style="border:1px solid rgba(204, 204, 204, 0.63); border-radius: 12px;">

        <fieldset>
            <div class="label-float">
                <input type="text" name="nome" id="email" maxlength="50" placeholder="" required>
                <label id="labelEmail">Nome Completo</label>
            </div>

            <div class="label-float">
                <input type="text" name="email" id="email" maxlength="50" placeholder="" required>
                <label id="labelEmail">E-mail</label>
            </div>

            <div class="label-float">
                <input type="date" name="data_nascimento" maxlength="50" placeholder="" required>
                <label id="labelEmail">Data De Nascimento</label>
            </div>

            <div class="label-float">
                <input type="date" name="data_cadastro" maxlength="50" placeholder="" required>
                <label id="labelEmail">Data De Cadastro</label>
            </div>

            <div class="label-float">
                <input type="tel" name="telefone" maxlength="50" placeholder="" required>
                <label id="labelEmail">Telefone</label>
            </div>

            <div class="label-float">
                <input name="senha" id="senha" type="password" placeholder="" required>
                <label id="labelSenha">Senha</label>
                <i id="verSenha" class="fa fa-eye" aria-hidden="true"></i>
            </div>

            <div class="label-float">
                <input name="senhaC" id="senhaC" type="password" placeholder="" required>
                <label id="labelSenha"> Confirmar senha</label>
                <i id="verConfirmeSenha" class="fa fa-eye" aria-hidden="true"></i>
            </div>

            <div class="">
                <h3>Tipo de Cadastro</h3>
                <input type="radio" value="1" id="comum" name="tipo_usuario"> Usuário Administrador <br>
                <input type="radio" value="0" id="admin" name="tipo_usuario"> Usuário Simples

            </div>

            <div class="justify-center mt-5">
                <button id="btCadastro" class="btn btn-warning">Confirmar</button>
            </div>
        </fieldset>
    </form>
</section>

<!--Setor de rodapé--->
<%- include('footerAdmin.ejs') %>
</body>

</html>