<%- include('headerAdmin.ejs') %>
<%- include('navAdmin.ejs') %>

    <form action="" method="post" id="formCadastroProduto" class="w-50 mx-auto p-4 mt-5 mb-5" style="border:3px solid #ccc;border-radius: 12px">

        <fieldset class="form">
            <div class="form-group">
                <b>
                <label>Título:<br /></label>
                </b>
                <label for="título"></label>
                <input class="form-control" type="text" id="tituloFilme" name="tituloFilme" placeholder="Título do filme" required>
            </div>

            <div class="form-group">
                <br />
                <b>
                <label>Categoria:<br /></label>
                </b>
                <label for="categoria"></label>
                <input class="form-control" type="text" id="categoriaFilme" name="categoriaFilme" placeholder="Categoria do filme" required>
            </div>

            <div class="form-group">
                <br />
                <b>
                <label>Ano de lançamento:<br /></label>
                </b>
                <label for="ano"></label>
                <input class="form-control" maxlength="4" id="anoDeLancamento" name="anoDeLancamento" placeholder="Ano de lançamento" required>
            </div>

            <div>
                <br />
                <b>
                <label>Sinopse:<br /></label>
                </b>
                <label for="Sinopse"></label><br>
                <textarea id="sinopseFilme" name="sinopseFilme" style="border:1px solid #ccc;border-radius: 10px"  cols="60" rows="8" placeholder="Sinopse filme" required></textarea>
            </div>
            
            <div class="form-group">
                <br />
                <b>
                <label>Preço<br /></label>
                </b>
                <label for="Preco"></label>
                <input class="form-inline" aria-label="file example" type="number" step="0.01" id="preco" name="preco" required>
            </div>
            
            <div class="form-group">
                <br />
                <b>
                <label>Imagem<br /></label>
                </b>
                <label for="Imagem"></label>
                <input class="form-inline" aria-label="file example" type="file" id="fotos" name="fotos" required>
            </div>


            <div>
                <button type="submit" id="btCadastroProduto" class="btn btn-danger">Enviar</button>
               
            </div>
        </fieldset>
        </form>


        <%- include('footerAdmin.ejs') %>

</body>

</html>