<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css"
        integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="../css/styleAdmin.css">
    <title>Área do Administrador</title>
</head>

<body>

    <header>
        <div class=" faixaPrincipal row">
            <div class="col-sm-3 ml-3">
                <img src="../imagens/logoAdmin.png" width="250px">
            </div>
            <div class="col-sm-8 text-center mt-5">
                <h1 class="titulo">Bora Ver ?!</h1>
                <p class="subtituloHeader">Área do Administrador</p>
            </div>
        </div>