<%- include('headerAdmin.ejs') %>

<section class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-sm-4 indexBox">
            <a class="nav-link" href="/cadastroAdmin">Cadastrar Usuário</a>
        </div>
        <div class="col-sm-4 indexBox">
            <a class="nav-link" href="/cadastroProduto">Cadastrar Produto</a>
        </div>
        <div class="col-sm-4 indexBox">
            <a class="nav-link" href="/upd-promo">Atualizar Promoções</a>
        </div>
        <div class="col-sm-4 indexBox">
            <a class="nav-link" href="/relatorio-chamada">Relatório de Chamadas</a>
        </div>
        <div class="col-sm-4 indexBox">
            <a class="nav-link" href="/relatorio-produto">Relatório de Produtos</a>
        </div>
        <div class="col-sm-4 indexBox">
            <a class="nav-link" href="/loginAdmin">Logout</a>
        </div>
    </div>
</section>


<%- include('footerAdmin.ejs') %>

</body>
<script src="../../administrador/indexAdmin.js"></script>

</html>