<%- include('headerAdmin.ejs') %>
<%- include('navAdmin.ejs') %>

    <section class="container">
        <div class="row">
            <div class="col-sm-1"></div>
            <p class=" col-sm-12 text-center">No site de vídeos você encontra: ação, comédia,
                suspense, terror, animação e muito mais, que agrada desde os baixinhos até os velhinhos. Perfeito para
                assistir seu filme preferido num domingo á tarde em familia, em uma sexta com os amigos ou sabadão com a
                namorada.</p>
        </div>
       
    </section>
    <%- include('footerAdmin.ejs') %>

</body>
<script src="../../administrador/indexAdmin.js"></script>
</html>