<%- include('headerAdmin.ejs') %>

    <!--Setor de conteúdo-->
    <section class="container">
        <h1 class="text-center mt-4 mb-4">Login</h1>
        <article>
            <!--Formulário de login-->
            <form id="formLogin" method="post" action="/indexAdmin"
                class="w-50 mx-auto p-3 mt-4 mb-4" style="border:1px solid #ccc;border-radius: 12px;">
                <fieldset>
                    <legend> Preencha os campos</legend>
                    <div class="form-group">
                        <label>E-mail: </label>
                        <input class="form-control" name="email" id="email" maxlength="50">
                    </div>
                    <div class="form-group">
                        <label>Senha: </label>
                        <input class="form-control" name="senha" id="senha" maxlength="8" type="password">
                    </div>
                    <button type="button" id="btLogin" class="btn btn-warning">Confirmar</button>
                    </div>
                    <div>
                    </div>
                </fieldset>
            </form>
        </article>
    </section>
    <!--Setor de rodapé-->
    <%- include('footerAdmin.ejs') %>

</body>
<script src="../../js/loginAdmin.js"></script>

</html>