
<nav class=" faixaPrincipal navbar navbar-expand-lg navbar-light bg-light">

      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="/indexAdmin">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/cadastroAdmin">Cadastrar Usuário</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/cadastroProduto">Cadastrar Produto</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/upd-promo">Atualizar Promoções</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/relatorioComercial">Relatório Comercial</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/relatorio-chamada">Relatório de Chamadas</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/relatorio-produto">Relatório de Produtos</a>
          </li>
          <% if (info.user){ %>
            <li class="nav-item">
                <a class="nav-link" href="/logoutAdmin">Logout</a>
            </li>
            <% }else { %>
            <li class="nav-item">
              <a class="nav-link" href="/loginAdmin">Login</a>
          </li>
          <% } %>
      </div>
  </nav>