<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css"
        integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
    <link rel="stylesheet" href="css/style.css">
    <title>Faça seu Cadastro</title>
</head>

<body>
    <header>
        <div class=" faixaPrincipal row">
            <div class="col-sm-3 ml-3">
                <a href="#"><img src="imagens/logo.png" width="250px"></a>
            </div>
            <div class="col-sm-8 text-center mt-5">
                <h1 class="titulo">Bora Ver ?!</h1>
                <p class="subtituloHeader">Filmes, Séries e Documentários</p>
            </div>
        </div>
    </header>

    <hr>
    <!--FORM CADASTRO--->

        <section class="container">
            <h1 class="text-center mt-5 mb-5"> Bem-vindo à sua home de vídeos on-line!</h1>
            <h2 class="text-center mt-5 mb-5"> Cadastro</h2>
    
            <article>
                <form id="formCadastro" method="post" action="/" class="w-50 mx-auto p-3 mt-5 mb-5"
                    style="border:1px solid #ccc; border-radius: 12px;">
    
    
                    <fieldset>
                        <legend>Preencha seus dados:</legend>
                        <div class="label-float">
                            <input type="text" name="nomeCadastro" id="nomeCadastro" maxlength="100" placeholder="" required>
                            <label>Nome Completo</label>
                          </div>
                  
                          <div class="label-float">
                            <input type="text" name="emailCadastro" id="email" maxlength="50" placeholder="" required>
                            <label>E-mail</label>
                          </div>
                  
                          <div class="label-float">
                            <input type="tel" name="telefoneCadastro" id="telefone" maxlength="11" placeholder="" required>
                            <label>Celular</label>
                          </div>
                  
                          <div class="label-float">
                            <input name="senha" id="senha" type="password" placeholder="" maxlength="8" required>
                            <label id="labelSenha">Senha</label>
                            <i id="verSenha" class="fa fa-eye" aria-hidden="true"></i>
                          </div>
                  
                          <div class="label-float">
                            <input name="senhac" id="senhaC" type="password" placeholder="" maxlength="8" required>
                            <label id="labelConfirmeSenha">Confirme a senha</label>
                            <i id="verConfirmeSenha" class="fa fa-eye" aria-hidden="true"></i>
                          </div>
    
                        <div class="justify-center">
                            <button id="btCadastro" type="button"  class="btn btn-warning" > Confirmar</button>        
                        </div>
                        <hr>
                        <div>
                          <p class="text-center">Já é cadastrado? <a href='/login'> Faça login</a></p>
                        </div>
                    </fieldset>
                </form>
            </article>
    
        </section>
    <!-- Setor de rodapé-->

    <footer class="text-white text-center mt-5" id="footer">
        <p class="text-center"> &copy; 2022 - Projeto Videos - Outliers</p>
        <a href="/sobreNos" target="_blank"><img src="../imagens/pessoas.png" alt=""></a>
    </footer>
</body>
<script src="./js/cadastro.js"></script>

</html>