<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css"
        integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
    <link rel="stylesheet" href="css/style.css">
    <title>Faça seu Cadastro</title>
</head>

<body>
    <header>
        <div class=" faixaPrincipal row">
            <div class="col-sm-3 ml-3">
                <a href="#"><img src="imagens/logo.png" width="250px"></a>
            </div>
            <div class="col-sm-8 text-center mt-5">
                <h1 class="titulo">Bora Ver ?!</h1>
                <p class="subtituloHeader">Filmes, Séries e Documentários</p>
            </div>
        </div>
    </header>

    <hr>
    <!---->
    <section class="container">
        <h1 class="text-center mt-5 mb-5"> Bem-vindo à sua home de vídeos on-line!</h1>
        <h2 class="text-center mt-5 mb-5"> Faça seu cadastro!</h2>

        <article>
            <form id="formCadastro" method="post" action="/" class="w-50 mx-auto p-3 mt-5 mb-5"
                style="border:1px solid #ccc; border-radius: 12px;">


                <fieldset>
                    <legend>Entre com os seus dados:</legend>
                    <div class="form-group">
                        <label>Nome :<br /></label>
                        <input class="form-control" name="nomeCadastro" maxlength="100" required>
                    </div>
                    <div class="form-group">
                        <label>Email :<br /></label>
                        <input class="form-control" name="emailCadastro" type="email" id="email" required>
                    </div>
                    <div class="form-group">
                        <label>Telefone :<br /></label>
                        <input class="form-control w-50" name="telefoneCadastro" id="telefone" maxlength="11"
                            minlength="11" required>
                    </div>
                    <div class="form-group">
                        <label>Senha :<br /></label>
                        <input class="form-control w-50" name="senha" id="senha" type="password" maxlength="8" required>
                    </div>
                    <div class="form-group">
                        <label>Confirme a senha :<br /></label>
                        <input class="form-control w-50" name="senhaC" id="senhac" type="password" maxlength="8"
                            required>
                    </div>
                    <div>
                        <nav>
                            <button id="btCadastro" type="button" class="btn btn-warning">Confirmar</button>
                            <a href="/login">
                        </nav>
                    </div>
                </fieldset>
            </form>
        </article>

    </section>
    <!-- Setor de rodapé-->

    <footer class="text-white text-center mt-5" id="footer">
        <p class="text-center"> &copy; 2022 - Projeto Videos - Outliers</p>
        <a href="/sobreNos" target="_blank"><img src="../imagens/pessoas.png" alt=""></a>
    </footer>
</body>
<script src="./js/cadastro.js"></script>

</html>