<%- include('header.ejs') %>

    <hr>
    <!--FORM CADASTRO--->

        <section class="container">
            <h1 class="text-center mt-5 mb-5"> Bem-vindo à sua home de vídeos on-line!</h1>
            <h2 class="text-center mt-5 mb-5"> Cadastro</h2>
    
            <article>
                <form id="formCadastro" method="post" action="/" class="w-50 mx-auto p-3 mt-5 mb-5"
                    style="border:1px solid #ccc; border-radius: 12px;">
    
    
                    <fieldset>
                        <legend>Preencha seus dados:</legend>
                        <div class="label-float">
                            <input type="text" name="nomeCadastro" id="nomeCadastro" maxlength="100" placeholder="" required>
                            <label>Nome Completo</label>
                          </div>
                  
                          <div class="label-float">
                            <input type="text" name="emailCadastro" id="email" maxlength="50" placeholder="" required>
                            <label>E-mail</label>
                          </div>
                  
                          <div class="label-float">
                            <input type="tel" name="telefoneCadastro" id="telefone" maxlength="11" placeholder="" required>
                            <label>Celular</label>
                          </div>
                  
                          <div class="label-float">
                            <input name="senha" id="senha" type="password" placeholder="" maxlength="8" required>
                            <label id="labelSenha">Senha</label>
                            <i id="verSenha" class="fa fa-eye" aria-hidden="true"></i>
                          </div>
                  
                          <div class="label-float">
                            <input name="senhac" id="senhaC" type="password" placeholder="" maxlength="8" required>
                            <label id="labelConfirmeSenha">Confirme a senha</label>
                            <i id="verConfirmeSenha" class="fa fa-eye" aria-hidden="true"></i>
                          </div>
    
                        <div class="justify-center">
                            <button id="btCadastro" type="button"  class="btn btn-warning" > Confirmar</button>        
                        </div>
                        <hr>
                        <div>
                          <p class="text-center">Já é cadastrado? <a href='/login'> Faça login</a></p>
                        </div>
                    </fieldset>
                </form>
            </article>
    
        </section>
    <!-- Setor de rodapé-->
    <%- include('footer.ejs') %>
    
</body>
<script src="./js/cadastro.js"></script>

</html>