<%- include('header.ejs') %>
<%- include('nav.ejs') %>


    


    <!-- Setor de conteúdo-->
    <section class="container">
        <h1 class="text-center mt-5 mb-5"> Sua opinião é muito importante para nós!</h1>



        <!--Formulário de contato -->
        <form action="" method="post" id="formContato" class="w-50 mx-auto p-3 mt-5 mb-5"
            style="border:1px solid #ccc; border-radius: 12px;">
            <fieldset class="form ml-5 mr-5 text-center">
                <div class="row">
                    <div class="col-sm-12 mt-4">
                        <legend class="tituloForm text-center">Entre em contato conosco</legend>
                    </div>
                    <div class="form-group col-sm-12 mt-4">
                        <input type="text" name="nome" id="nomecontato" placeholder="Digite seu nome"
                            class="form-control">
                    </div>

                    <div class="form-group col-sm-12 mt-4">
                        <input type="email" name="email" id="emailcontato" placeholder="Digite seu e-mail"
                            class="form-control">
                    </div>

                    <div class="form-group col-sm-12 mt-4">
                        <input type="number" name="telefone" id="telcontato" placeholder="Digite seu tel"
                            class="form-control">
                    </div>

                    <div class="form-group col-sm-12 mt-4">
                        <input type="text" name="assunto" id="assuntocontato" placeholder="Qual é o assunto?"
                            class="form-control">
                    </div>

                    <div class="form-group col-sm-12 mt-4">
                        <textarea name="comentario" id="mensagemcontato" cols="40" rows="8"
                            placeholder=" Digite seu comentário. Em breve faremos contato."
                            class="form-control"></textarea>
                    </div>
                    <div>
                        <button class="btn btn-warning" id="btContato">Enviar</button>
                    </div>
            </fieldset>
        </form>

        <!--Final do Form contato-->



    </section>
    <!--Setor de rodapé-->
    <%- include('footer.ejs') %>
   
</body>
<script src="js/contato.js"></script>

</html>