<%- include('header.ejs') %>
<%- include('nav.ejs') %>


    


    <!-- Setor de conteúdo-->
    <section class="container">
        <h1 class="text-center mt-5 mb-5"> Sua opinião é muito importante para nós!</h1>
        <h2 class="text-center mt-5 mb-5">Entre em contato conosco!</h2>



        <!--Formulário de contato -->
        <form action="/contato" method="get" id="formContato" class="w-50 mx-auto p-3 mt-5 mb-5"
            style="border:1px solid #ccc; border-radius: 12px;">
            <fieldset class="form ml-5 mr-5 text-center">
                <div class="row">
                    <div class="col-sm-12 mt-4">
                        <legend class="tituloForm text-center">Entre Em Contato Conosco</legend>
                    </div>
                    <div class="form-group col-sm-12 mt-4">
                        <input type="text" name="nomecontato" id="nomecontato" placeholder="Digite Seu Nome"
                            class="form-control">
                    </div>

                    <div class="form-group col-sm-12 mt-4">
                        <input type="email" name="emailcontato" id="emailcontato" placeholder="Digite seu E-mail"
                            class="form-control">
                    </div>

                    <div class="form-group col-sm-12 mt-4">
                        <input type="number" name="telcontato" id="telcontato" placeholder="Digite seu Tel"
                            class="form-control">
                    </div>

                    <div class="form-group col-sm-12 mt-4">
                        <input type="text" name="assuntocontato" id="assuntocontato" placeholder="Qual é o assunto?"
                            class="form-control">
                    </div>

                    <div class="form-group col-sm-12 mt-4">
                        <textarea name="mensagemcontato" id="mensagemcontato" cols="40" rows="8"
                            placeholder=" Faça seu comentário. Em breve faremos contato"
                            class="form-control"></textarea>
                    </div>

                    <div class="form-group col-sm-12 text-left">
                        <input type="checkbox" name="chamado" id="chamado">
                        <label for="chamado">Abrir um Chamado</label>
                    </div>

                    <div>
                        <button type="button" class="btn btn-warning btn-lg btn-block" id="btContato">Enviar</button>
                    </div>
            </fieldset>
        </form>

        <!--Final do Form contato-->



    </section>
    <!--Setor de rodapé-->
    <%- include('footer.ejs') %>
   
</body>
<script src="js/contato.js"></script>

</html>