<%- include('header.ejs') %>
<%- include('nav.ejs') %>


    


    <!-- Setor de conteúdo-->
    <section class="container">
        <h1 class="text-center mt-5 subtitulo1">Contato</h1>
        <p class="text-center mb-5">Sua mensagem é muito importante para nós</p>

        <!--Formulário de contato -->
        <form action="" method="post" id="formContato" class="w-50 mx-auto p-3 mt-5 mb-5"
            style="border:1px solid #ccc; border-radius: 12px;">
            <fieldset>
                <div class="label-float">
                    <input type="text" name="nome" id="nome" maxlength="50" placeholder="" required>
                    <label id="labelEmail">Nome Completo</label>
                </div>
                <div class="label-float">
                    <input type="text" name="email" id="email" maxlength="50" placeholder="" required>
                    <label id="labelEmail">E-mail</label>
                </div>
                <div class="label-float">
                    <input type="text" name="telefone" id="telefone" maxlength="50" placeholder="" required>
                    <label id="labelEmail">Celular</label>
                </div>
                <div class="label-float">
                    <input name="assunto" id="assunto" type="text" placeholder="" required>
                    <label id="labelSenha">Assunto</label>
                </div>
                    <div class="label-float">
                        <textarea name="comentario" id="comentario" cols="54" rows="8"placeholder="Digite sua mensagem" required></textarea>
                    </div>
                    <div>
                        <button class="btn btn-info btn-lg btn-warning" id="btContato">Enviar</button>
                    </div>
            </fieldset>
        </form>

        <!--Final do Form contato-->



    </section>
    <!--Setor de rodapé-->
    <%- include('footer.ejs') %>
   
</body>
<script src="js/contato.js"></script>

</html>