<%- include('header.ejs') %>
<%- include('nav.ejs') %>

<section class="container mt-5">
    <h1 class="subtitulo">Perguntas Frequentes</h1>
    <div class="mt-5">
        <h2 class="subtituloHeader">O que é a BORA VER ?</h2>
        <p>xx</p>
        <hr>
    </div>

    <div>
        <h2 class="subtituloHeader">Quem São Os integrantes desse Projeto?</h2>
        <ul>
        <li><b>Professor/Orientador:</b> Roque Fernando</li>
        <li><a href="https://www.linkedin.com/in/sgmartinss/" target="_blank">Samuel Martins</a></li>
        <li>Hemylli</li>
        <li>Larissa Soares</li>
        <li><a href="https://www.linkedin.com/in/luciene-bento-de-oliveira-3a6a01198/">Luciene Bento</li></a>
        <li>Eliabe</li>
        <li>Victor Marques</li>
        <li>Thais Fernanda</li>
        <li>Renata</li>
        <li>Cynthia Cavalcanti</li>
        <li>Priscila Almeida</li>
    </ul>




        <hr>
    </div>

    <div>
        <h2 class="subtituloHeader">Quais as Tecnologias utilizadas no Projeto?</h2>
        <p>xx</p>
    </div>
</section>
<%- include('footer.ejs') %>