<%- include('header.ejs') %>
<%- include('nav.ejs') %>

<section class="container mt-5">
    <h1 class="subtitulo">Perguntas Frequentes</h1>
    <div class="mt-5">
        <h2 class="subtituloHeader">O que é a BORA VER ?</h2>
        
            <p>A Bora Ver nasceu a partir de uma demanda em sala de aula, um projeto-vídeo a ser elaborado pelos alunos de Back-End, do Programa da Impulso Tec, parceria com a K2, no ano de 2022.</p>
            <p>Ela é uma plataforma de streaming de vídeo desenvolvida pela equipe Outliers, e foi pensada para oferecer a melhor experiência para o usuário, o qual pode desfrutar de intensas e inesquecíveis emoções, por meio de um seleto catálogo de filmes, séries e documentários.</p>
            <p>Cada detalhe do projeto foi desenvolvido para proporcionar um conteúdo e uma navegação mais agradável aos olhos dos assinantes.</p>
            <p>Fazendo referência à uma sala de cinema, local onde até pouco tempo os filmes eram, prioritariamente, vistos, as cores preta e cinza foram aplicadas, em estilo gradiente, em toda plataforma. Já as cores amarela e dourada foram utilizadas para simbolizar a luz, tão empregada nos filmes para destacar ambientes, cenas, contrastes, mostrar e ocultar detalhes, enfim, para dar ênfase à história, como enquadramento e foco.</p>
            <p>Seja sozinho ou acompanhado, cada pessoa poderá apreciar inúmeros vídeos que garantirão diversão e entretenimento.</p>
            <p>Acesse, clique e surpreenda-se! <b>Bora Ver?!</b></p>
        <hr>
    </div>

    <div>
        <h2 class="subtituloHeader">Quem São Os integrantes desse Projeto?</h2>
        <ul>
        <b>Professor orientador:</b>
        <li>Roque Fernando</li>
        <hr>

        <b>Desenvolvedores:</b>
        <li>Cynthia Cavalcanti</li>
        <li>Eliabe Padilha</li>
        <li>Hemylli Hilário</li>
        <li>Larissa Soares</li>
        <li><a href="https://www.linkedin.com/in/luciene-bento-de-oliveira-3a6a01198/">Luciene Bento</a></li>
        <li>Priscila Almeida</li>
        <li>Renata Klausing</li>
        <li><a href="https://www.linkedin.com/in/sgmartinss/" target="_blank">Samuel Martins</a></li>
        <li>Thais Vicente</li>
        <li>Victor Marques</li>
        
    </ul>

        <hr>
    </div>

    <div>
        <h2 class="subtituloHeader">Quais as Tecnologias utilizadas no Projeto?</h2>
        <p>xx</p>
    </div>
</section>
<%- include('footer.ejs') %>