<footer class="text-white text-center mt-5" id="footer">
    <p class="text-center"> &copy; 2022 - Projeto Videos - Outliers</p>
    <a href="/sobreNos" target="_blank"><img src="../imagens/pessoas.png" alt=""></a>
    <a href="/faq">DÚVIDAS FREQUENTES</a>
</footer>
<script src="../js/index.js"></script>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
