<footer class="text-white text-center mt-5" id="footer">
    <p class="text-center"> &copy; 2022 - Projeto Videos - Outliers</p>
    <a href="/sobreNos" target="_blank"><img src="../imagens/pessoas.png" alt=""></a>
</footer>