<%- include('header.ejs') %>
<%- include('nav.ejs') %>





<!-- Setor de conteúdo-->
<section class="container mt-5">
<h1>OPS!! ACHO QUE DEU RUIM :(</h1>
</section>
<!--Setor de rodapé-->
<%- include('footer.ejs') %>

</body>
<script src="js/contato.js"></script>

</html>