<%- include('header.ejs') %>

<!-- Setor de conteúdo-->
<section class="container mt-5">
    <div class="row">
        <div class="col-sm-6">
            <h1>OPS! ALGO DEU ERRADO ACONTECEU :(</h1>
            <div class="mt-5">
               <a href="/login"><button class="btn btn-warning mr-2">Login</button></a>
               <a href="/cadastro"><button class="btn btn-warning mr-2">Cadastre-se</button></a>
               <a href="/faq"><button class="btn btn-warning">FAQ - Pergunstas Prequentes</button></a>          

            </div>
        </div>
        <div class="col-sm-6">
            <img src="../imagens/danger.png" alt="">
        </div>
    </div>

</section>
<!--Setor de rodapé-->
<%- include('footer.ejs') %>

</body>
<script src="js/contato.js"></script>

</html>