<%- include('header.ejs') %>
<%- include('nav.ejs') %>

        <hr />
        <section class="container">
            <h2 class="text-center mt-3 mb-3">Informações de Usuário</h2>
            <article>
                <form id="formUsuario" method="post" class="w-50 mx-auto p-3 mt-3 mb-5" style="border:1px solid #CCC; border-radius: 12px;">
                    <fieldset>
                        <div class="mt-1 mb-1" style="font-size: x-large;">
                            <span id="nome"></span>
                            <span id="telefone"></span>
                            <span id="email"></span>
                            <a id="idade"></a>
                            <a id="preferencias"></a>
                            <a id="data-inicio"></a>
                            <a id="tipo-de-assinante"></a>
                            <a id="valor"></a>
                        </div>
                    </fieldset> 
                </form>

            </article>
        </section>
        <%- include('footer.ejs') %>

    </body>
    <script src="js/perfilUsuario.js"></script>
</html>