<%- include("header.ejs")%>
<%- include("nav.ejs")%>


    <hr>
        <section class="container">
            <div class="row">
                <div class="col-sm-1"></div>
                <p class="col-sm-7 mt-4 text-justify"> Só aqui você encontra os melhores filmes, séries, curtas e muito mais com a melhor qualidade! No site você encontra um vasto catalogo de mídia de ação, comédia, suspense, terror, animação e muito mais! Perfeito para você assistir qualquer dia. </p>
            </div> <br>
            <div id="Produto" class="row">
                <div class="col-sm-6 mt-3 mb-3"></div>
                <h1>Homem-Aranha - Sem Volta Para Casa</h1>
            </div>
            <div id="foto e descrição do produto" class="row">
                
                
                <div class="col-sm-12 row">
                <div class="col-sm-6"><iframe width="560" height="315" src="https://www.youtube.com/embed/FDNNHh7TRN0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></div>
               <!--<img src="imagens/semvoltapracasa.jpeg"/> -->
               <div class="col-sm-4 ml-5">
               <p> <strong>Homem-Aranha: Sem Volta para Casa, Peter Parker (Tom Holland) precisará lidar com as consequências da sua identidade como o herói mais querido do mundo após ter sido revelada pela reportagem do Clarim Diário, com uma gravação feita por Mysterio (Jake Gyllenhaal) no filme anterior. Incapaz de separar sua vida normal das aventuras de ser um super-herói, além de ter sua reputação arruinada por acharem que foi ele quem matou Mysterio e pondo em risco seus entes mais queridos, Parker pede ao Doutor Estranho (Benedict Cumberbatch) para que todos esqueçam sua verdadeira identidade.</strong></p>
            </div> 
        </div>

            </div> <br><hr>
            
            <div id="galeria-videos" class="row">
                <div class="col-sm-1 mt-2"></div>
                <a href="/single-produto"><img src="imagens/afreira.jpeg" class="col-xs-4 mt-4 mr-5"></a>
                <a href="/single-produto"><img src="imagens/bateroucorrer.jpeg" class="col-xs-4 mt-4 mr-5"></a>
                <a href="/single-produto"><img src="imagens/comoeueraantesdevc.jpeg" class="col-xs-4 mt-4 mr-5"></a>
            </div>
            </section>
            <%- include("footer.ejs")%>

        </body>
        
        </html>